{% extends 'base.html' %}

{% block title %}
WYSIWYG Editor
{% endblock %}
{% block styles %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('editor.static', filename='css/styles.css') }}">
{% endblock %}


{% block content %}
<form id="content-form" action="" method="">
    <!--  
    id = db.Column(db.Integer, primary_key=True)
    title = db.Column(db.String(140), index=True)
    snippet = db.Column(db.String(280), index=True)
    thumbnail_url = db.Column(db.String(280), index=True)
    content = db.Text()

    -->
    <div class="mb-3">
        <label for="content-title">Content Title</label>
        <input type="text" class="form-control" id="content-title" value="{% if post %}{{ post.title }}{% endif %}">
    </div>
    <div class="mb-3">
        <label for="content-snippet">Content Snippet</label>
        <textarea class="form-control" id="content-snippet" cols="30"
            rows="5">{% if post %}{{ post.snippet }}{% endif %}"</textarea>
    </div>
    <div class="mb-3">
        <label for="content-thumbnail-url">Content Thumbnail URL</label>
        <input class="form-control" type="text" id="content-thumbnail-url"
            value="{% if post %}{{ post.thumbnail_url}}{% endif %}">
    </div>
    <div class="mb-3">
        <label for="editor">Content</label>
        <div id="editor"></div>
    </div>
    <input type="submit" value="Save">
</form>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="{{ url_for('editor.static', filename='js/editor.js') }}"></script>

{% endblock %}